.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#header-container {
  background-color: indigo;
  color: whitesmoke;
  text-align: center;
  padding: 2vw;
}

#header-title {
  font-size: 15vw;
  margin: 0%;
}

#logo { 
  width : 20vw;
  height : auto;
} 

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: top;
  width: 100%;
  background: lavender;
  color: #000;
  opacity: 0.85;
  height: auto;
  z-index: 12;
  text-align: center;
}

.navbar-container {
  display: flex;
  justify-content: center;
  height: auto;
  align-items: center;
  position: relative;
}

.menu-items {
  order: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: plum;
  transition: color 0.3s ease-in-out;
}

button {
  background-color: lavender;
  color: indigo;
  border-color: indigo;
  font-size: 4vw;
  box-shadow: 0px 5px 10px 0px #aaa;
  border-radius: 8px;
}

#registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3%;
}

form {
  background-color: plum;
  padding: 3em;
  width: 50vw;
  border-radius: 20px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  font-size: 3vw;
}

.mineralPhoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 3%;
}

.mineralPhoto img {
  display: block;
  margin: auto;
}

/* .mineralPhoto img {
  width: 35vw;
  height: auto;
  display: flex;
  flex-direction: row;
} */

.quizQuestions button{
  display: flex;
  justify-content: center;
  text-align: center;
}

#home-page p, a {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  font-size: 3vw;
  margin: 3%;
  text-align: center;
}

#home-page h4{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  font-size: 4.5vw;
  margin: 3%;
  text-align: center;
}

#home-page h2{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  font-size: 6vw;
  margin: 3%;
  text-align: center;
}

#home-page h1{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  font-size: 9vw;
  margin: 3%;
  text-align: center;
}

#about-page p, a {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  font-size: 3vw;
  margin: 3%;
  text-align: center;
}

#about-page h4{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  font-size: 4.5vw;
  margin: 3%;
  text-align: center;
}

#about-page h2{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  font-size: 6vw;
  margin: 3%;
  text-align: center;
}

#about-page h1{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  font-size: 9vw;
  margin: 3%;
  text-align: center;
}

#registration h1{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  font-size: 9vw;
  margin: 3%;
  text-align: center;
}
#registration h4{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  font-size: 4.5vw;
  margin: 3%;
  text-align: center;
}

#registration-container {
  font-size: 3vw;
}

input{
  width: 75%;
  font-size: 3vw;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin: 3%;
  text-align: center;
}

#login h1 {
  font-size: 9vw;
}

#login-container {
  font-size: 3vw;
}


#all-learned {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  font-size: 3vw;
  margin: 3%;
  text-align: center;
}

#learn-mineral {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin: 3%;
  text-align: center;
}

#learn-mineral h1 {
  font-size: 9vw;
}
#learn-mineral h2 {
  font-size: 6vw;
}

#learn-mineral h3 {
  font-size: 5vw;
}

#learn-mineral h4 {
  font-size: 4.5vw;
}
#learn-mineral p, a {
  font-size: 3vw;
}

#learn-mineral img {
  width: 85%;
}

#mineral-list {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin: 3%;
  text-align: center;
}
#mineral-list p {
  font-size: 3vw;
}

#list { 
  color: plum;
  font-size: 2vw;
}

#mineral-list h2 {
  font-size: 6vw;
}

#review-mineral {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin: 3%;
  text-align: center;
}

#review-mineral h1 {
  font-size: 9vw;
}
#review-mineral h2 {
  font-size: 6vw;
}

#review-mineral h3 {
  font-size: 5vw;
}

#review-mineral h4 {
  font-size: 4.5vw;
}
#review-mineral p, a {
  font-size: 3vw;
}

#review-mineral img {
  width: 85%;
}

#quiz-page {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin: 3%;
  text-align: center;
}

#quiz-page h1 {
  font-size: 9vw;
}
#quiz-page h2 {
  font-size: 6vw;
}

#quiz-page h3 {
  font-size: 5vw;
}

#quiz-page h4 {
  font-size: 4.5vw;
}
#quiz-page p, a {
  font-size: 3vw;
}

#quiz-page img {
  width: 85%;
}

#quiz-container {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}

.quiz-question {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type=radio] {
  width: auto;
} 

.quiz-question form {
  text-align: left;
}